@model Models.WareHouse

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";

}

<div class="d-flex flex-column gap-4">
    <div class="col">
        <h1>Detalles</h1>

        <div>
            <h4>Almacen</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Nombre del Almacen
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    Dirección
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.WareHouseId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio Venta
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Total
                    </th>
                                        <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Inventories)
                {
                    <tr>
                        <td>
                            @item.Product.Name
                        </td>
                        <td>
                            @item.Product.Description
                        </td>
                        <td>
                           $ @item.Product.Sell_Price
                        </td>

                         @{var isvalid = (item.QuantityOfExistances >=1) ?  true: false; }
                            @if (isvalid)
                            {
                                <td>
                                    @item.QuantityOfExistances
                                </td>
                            }else{
                                <td class="text-danger">
                                    No Hay Existencias
                                </td>
                            }

                        <td>
                            @{ var total = item.QuantityOfExistances  * item.Product.Sell_Price;}
                            $ @total

                        </td>
                        <td>
                          <a class="btn btn-sm btn-outline-info" asp-controller="Inventory" asp-action="Details" asp-route-id="@item.InventoryId">Ver Registro</a> 
                          <a class="btn bt-sm btn-outline-success" asp-controller="Entry" asp-action="Createbyinventory" asp-route-id="@item.InventoryId">Entrada</a> 
                           @if(isvalid){
                                    <a class="btn btn-sm btn-outline-danger" asp-controller="Exit" asp-action="CreatebyInventory" asp-route-id="@item.InventoryId">Salida</a> 
                                }  
                        </td>
                    </tr>
                }

            </tbody>
        </table>
