@model Models.Inventory

@using Models;

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";

}

<h1>Details</h1>

<div class="d-flex flex-column">
    <div class="col">
        <div class="d-flex flex-column">
            <div class="col">
                <div>
                    <h4>Inventory</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Fecha Inscripcion en Almacen
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreationDate)
                        </dd>
                        <dt class="col-sm-2">
                            Existencias
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model =>
                            model.QuantityOfExistances)
                        </dd>
                        <dt class="col-sm-2">
                            Nombre del Almacen
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.WareHouse.Name)
                        </dd>
                                                <dt class="col-sm-2">
                            Producto
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.Name)
                        </dd>
                        <dt class="col-sm-2">
                            Descripción de Producto
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Product.Description)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model?.InventoryId">Editar</a>
                    |
                    <a class="btn btn-outline-info" asp-action="Index">Lista de Inventarios</a>
                </div>
            </div>
            <div class="col">
                <!-- Entrada y Salidas -->
            </div>
        </div>
    </div>
    <div class="col d-flex flex-col gap-2">
        <div class="col rounded border ">
        <h2>
            Entradas De Productos    
        </h2>
         <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>Autor</th>
                        <th>Cantidad</th>
                        <th>Lote</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Entry item in @ViewBag.Entries)
                    {
                    <tr>
                        <td>
                            @item.Author
                        </td>
                        <td>
                            @item.Quantity
                        </td>         
                        <td>
                            @item.LoteCode
                        </td>   
                        <td>
                            @item.CreationDate.ToLongDateString()
                        </td>                                                
                    </tr>    
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="col rounded border ">
            <h2>
                Salidas de Productos
            </h2>            
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Persona
                        </th>
                        <th>
                            Cliente
                        </th>                        
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Fecha
                        </th>                                                
                    </tr>
                </thead>
                <tbody>
                    @foreach (Exit item in @ViewBag.Exits)
                    {
                    <tr>
                        <td>
                            @item.Author
                        </td>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.CreationDate.ToLongDateString()
                        </td>                        
                    </tr>                        
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>