@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
    var Warehouses = (from i in Model select i.WareHouse).Distinct().ToList();
    int counter = 0;
}

<h1>Lista de Inventarios</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Asociar Producto a Almacen</a>
</p>


@foreach (var warehouse in Warehouses)
{
    counter = counter + 1;
    string dat = $"collapse{counter.ToString()}";
    var inventories = (from i in Model where i.WareHouseId == warehouse.WareHouseId select i).ToList();
    <div class="accordion m-2" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@dat" aria-expanded="true" aria-controls="@dat">
            N° Almacen @warehouse.WareHouseId -  @warehouse.Name 
        </button>
        </h2>
        <div id="@dat" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Producto     
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Precio Venta Unitario
                            </th>
                            <th>
                                Precio Total
                            </th>                            
                            <th>
                                Acciones
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
            @foreach (var itemInventory in inventories)
            {
                        <tr>
                            <td>
                                @itemInventory.Product.Name
                            </td>
                            @{bool isvalid = (itemInventory.QuantityOfExistances >=1) ?  true: false; }
                            @if (isvalid)
                            {
                                <td>
                                    @itemInventory.QuantityOfExistances
                                </td>
                            }else{
                                <td class="text-danger">
                                    No Hay Existencias
                                </td>
                            }
                            <td>
                               $ @itemInventory.Product.Sell_Price
                            </td>  
                            <td>
                                @{var totalPrice = itemInventory.Product.Sell_Price * itemInventory.QuantityOfExistances; }
                               $ @totalPrice
                            </td>  
                            <td>
                                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@itemInventory.InventoryId">Ver Registro</a> 
                                <a class="btn btn-sm btn-outline-success" asp-controller="Entry" asp-action="Createbyinventory" asp-route-id="@itemInventory.InventoryId">Entrada</a> 
                                @if(isvalid){
                                    <a class="btn btn-sm btn-outline-danger" asp-controller="Exit" asp-action="CreatebyInventory" asp-route-id="@itemInventory.InventoryId">Salida</a> 
                                }   
                            </td>
                        </tr>
            }    </tbody>
                </table>
        </div>
        </div>
    </div>
    </div>
}

