@model IEnumerable<Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";

}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Esta Activo
            </th>
            <th>
                Ultima sesión
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.UserId">Detalles</a> |
                <a class="btn btn-outline-danger"  asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
