@model IEnumerable<Models.Entry>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
    var Dates = Model.Select(m => m.CreationDate.Date).Distinct().ToList();
    short contador = 0;
}

<h1>Historial de Ingresos Más recientes</h1>

@foreach (var item in Dates)
{
    var listEntries = Model.Where(E=>E.CreationDate.Date == item).ToList();
    contador++;
    string dat = $"collapse{contador.ToString()}";
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#@dat" aria-expanded="true" aria-controls="@dat">
                    Entradas - @item.Date.ToString("yyyy-MMMM-dd")
                </button>
            </h2>
            <div id="@dat" class="accordion-collapse collapse"
                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Lote
                                </th>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Almacen
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                    @foreach (var entry in listEntries)
        {
            <tr>
                <td>
                    @entry.Inventory.Product.Name
                </td>
                <td>
                    @entry.Quantity
                </td>
                <td>
                    @entry.LoteCode
                </td>
                <td>
                    @entry.Author
                </td>
                <td>
                    @entry.Inventory.WareHouse.Name
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@entry.EntryId">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@entry.EntryId">Detalles</a>|
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@entry.EntryId">Borrar</a>
                </td>
            </tr>
        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
